{{if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

# Load the Brewfile from stdin.
# https://github.com/Homebrew/homebrew-bundle/issues/90#issuecomment-117941475
brew bundle --no-lock --file=/dev/stdin <<-EOF
	tap "homebrew/cask-versions" # needed to install firefox-developer-edition
	tap "homebrew/cask-fonts"    # needed to install font packages

	brew "subversion"     # version control system, mainly used to install some of the other packages below
	brew "neovim"         # editor
	brew "starship"       # shell prompt
	brew "tldr"           # command cheatsheets
	brew "httpie"         # http client
	brew "websocat"       # websocket client
	brew "bottom"         # process monitor
	brew "diff-so-fancy"  # diff pager
	brew "go"             # go
	brew "node"           # node.js

	cask "alacritty"                      # terminal emulator
	cask "firefox-developer-edition"      # browser
	cask "font-source-code-pro"           # main font
	# nerd-font cannot be installed via homebrew yet
	#cask "font-source-code-pro-nerd-font" # icon extension of the main font
EOF

{{- end }}
